
dist
node_modules
package-lock.json
processengine.sqlite

logs
metrics

external_task_api_client
external_task_api_contracts
external_task_api_core
external_task_api_http
external_task_sample_worker
external_task.repository.sequelize

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/
